*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Animacion de menu Sidebar */
.stop-scroll{
    height: 100%;
    overflow: hidden;
}
.menuSidebarClose{
    left: -70%;
}
@keyframes menuOpen{
    from{left: -70%;}to{left: 0%;}
}
@keyframes menuClose{
    from{left: 0%;}to{left: -70%;}
}
.menuSidebarAnimClose{
    animation: menuClose 150ms ease-in forwards;
}
.menuSidebarAnimOpen{
    animation: menuOpen 200ms ease forwards;
}

/* Animacion de cargando */
.rotate {
    animation: rotation 2s infinite linear;
}
  
@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}