*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid #ff0 !important; */
}

/* Hide the scrollbar */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar{
    display: none;
}
html::-webkit-scrollbar {
    width: 0px !important;
    background-color: transparent !important;
}
/* Hide the scrollbar */


/* Enable scrolling using mouse or trackpad */
html {
scrollbar-width: none !important; /* For Firefox */
-ms-overflow-style: none !important; /* For Internet Explorer and Edge */
}

/* Animacion de menu Sidebar */
.stop-scroll{
    height: 100%;
    overflow: hidden;
}

/* Sidebar */
#proSidebar{
    position: absolute;
    z-index: 2000;
    height: 70vh;
    border: none;
}
/* Sidebar */

/* Animacion de cargando */
.rotate {
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
/* Animacion de cargando */